/*
 Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License version 2 as
 published by the Free Software Foundation.
*/
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common-no-capemgr.dtsi"
#include "am335x-peripheral-i2c2.dtsi"
#include "am335x-bone-common-universal.dtsi"
#include "am335x-bone-pinmux-can0.dtsi"
#include "am335x-bone-pinmux-can1.dtsi"
//#include "am335x-bone-pinmux-spi0.dtsi"
//#include "am335x-bone-emmc-in-reset.dtsi"
//#include "am335x-bone-pinmux-panel-1024x600-24bit.dtsi"
#include "am33xx-overlay-edma-fix.dtsi"
#include "am33xx-clocks.dtsi"
#include <dt-bindings/board/am335x-bbw-bbb-base.h>
#include <dt-bindings/pinctrl/am33xx.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>

/* #include "am335x-bone-jtag.dtsi" */

/ {
	model = "TI AM335x BBP";
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx", "ti,beaglebone", "ti,beaglebone-black", "ti,unicron";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512 MB */
	};

	/delete-node/ keymap3_pins;
	/delete-node/ i2c1_pins;
	/delete-node/ gpio_keys;
	/delete-node/ sound;
	/delete-node/ lcd-led0;
	/delete-node/ tlv320aic3x;
//	/delete-node/ edt-ft5306@38;
	/delete-node/ mcasp0_pins;
//	/delete-node/ spi0
//	/delete-node/ spi1;
};

&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
	ti,vcc-aux-disable-is-sleep;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
	ti,non-removable;
};

&am33xx_pinmux {
/*
	P9_22_spi_pin: pinmux_P9_22_spi_pin {
		pinctrl-single,pins = <
			BONE_P9_22 (PIN_INPUT_PULLDOWN | MUX_MODE0) 	// (A17) spi0_sclk.spi0_sclk
		>;
	};
	P9_21_spi_pin: pinmux_P9_21_spi_pin {
		pinctrl-single,pins = <
			BONE_P9_21 (PIN_INPUT_PULLUP | MUX_MODE0)	// (B17) spi0_d0.spi0_d0
		>;
	};
	P9_18_spi_pin: pinmux_P9_18_spi_pin {
		pinctrl-single,pins = <
			BONE_P9_18 (PIN_INPUT_PULLDOWN | MUX_MODE0)	// (B16) spi0_d1.spi0_d1
		>;
	};
	P9_17_spi_pin: pinmux_P9_17_spi_pin {
		pinctrl-single,pins = <
			BONE_P9_17 (PIN_INPUT_PULLUP | MUX_MODE0)	// (A16) spi0_cs0.spi0_cs0
		>;
	};
*/
/*
	bb_spi1_pins: pinmux_bb_spi1_pins {
		pinctrl-single,pins = <
			BONE_P9_31 (PIN_OUTPUT_PULLDOWN | MUX_MODE3) // P9_31: mcasp0_aclkx.spi1_sclk
			BONE_P9_29 (PIN_INPUT_PULLDOWN | MUX_MODE3) // P9_29: mcasp0_fsx.spi1_d0
			BONE_P9_30 (PIN_OUTPUT_PULLDOWN | MUX_MODE3) // P9_30: mcasp0_axr0.spi1_d1
			BONE_P9_28 (PIN_OUTPUT_PULLUP | MUX_MODE3) // P9_28: mcasp0_ahclkr.spi1_cs0
			//BONE_P9_19 (PIN_OUTPUT_PULLDOWN | MUX_MODE4) // P9_19: uart1_rtsn.spi1_cs1
			>;
		      };
*/
/*	ecap0_default_pins: pinmux_ecap0_default_pins {
		pinctrl-single,pins = <
			BONE_P9_42A (PIN_OUTPUT_PULLDOWN | MUX_MODE0)       // eCAP0_in_PWM0_out.eCAP0_in_PWM0_out MODE0
		>;
	};
*/
/*	ehrpwm0_pins: pinmux_ehrpwm0_pins {
	//P9_22_pwm_pin: pinmux_P9_22_pwm_pin {
		pinctrl-single,pins = <
			BONE_P9_22 (PIN_OUTPUT_PULLDOWN | MUX_MODE3)	// spi0_sclk.ehrpwm0A
		>;
	};
	P9_21_pwm_pin: pinmux_P9_21_pwm_pin {
		pinctrl-single,pins = <
			BONE_P9_21 (PIN_OUTPUT_PULLDOWN | MUX_MODE3)	// spi0_d0.ehrpwm0B
		>;
	};*/
/* BBP ONLY
	ehrpwm1a_pins: pinmux_ehrpwm1a_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x848, PIN_OUTPUT_PULLDOWN | MUX_MODE6)     // gpmc_a2.ehrpwm1a
		>;
	};
*/

//	ehrpwm1b_pins: pinmux_ehrpwm1b_pins {
/*	P9_16_pwm_pin: pinmux_P9_16_pwm_pin {
		pinctrl-single,pins = <
			BONE_P9_16 (PIN_OUTPUT_PULLDOWN | MUX_MODE6)     // gpmc_a3.ehrpwm1b
		>;
	};

	gpio_leds_pins: pinmux_gpio_leds_pins {
		pinctrl-single,pins = <
			0x198 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)			// mcasp0_aclkr.gpio3_18
		>;
	};
*/
//	P9_20_i2c_pin: pinmux_P9_20_i2c_pin {
//		pinctrl-single,pins = <0x178  0x73>; };     /* (SLEWCTRL_SLOW | PIN_INPUT_PULLUP | MUX_MODE3) */

	pwr_button_pins: pinmux_pwr_button_pins {
		pinctrl-single,pins = <
			BONE_P9_30 (PIN_INPUT_PULLDOWN | MUX_MODE7) // mcasp0_axr0.gpio3_16
		>;
	};
	usb0_pins: pinmux_usb0_pins {
		pinctrl-single,pins = <
			0x21c (PIN_OUTPUT_PULLDOWN | MUX_MODE0) // usb0_drvvbus.usb0_drvvbus
		>;
	};

	usb1_pins: pinmux_usb1_pins {
		pinctrl-single,pins = <
			0x234 (PIN_OUTPUT_PULLDOWN | MUX_MODE0) // usb1_drvvbus.usb1_drvvbus
		>;
	};

/*
	bb_lcd_pwm_backlight_pins: pinmux_bb_lcd_pwm_backlight_pins {
		pinctrl-single,pins = <
			0x1b0 (PIN_OUTPUT_PULLUP | MUX_MODE7)	// xdma_event_intr0.gpio0_19
		>;
	};
*/
/*	user_leds_default: user_leds_default {
	      pinctrl-single,pins = <
			BONE_P9_42B (PIN_OUTPUT_PULLDOWN | MUX_MODE7)	// mcasp0_aclkr.gpio3_18
		>;
	};
	user_leds_sleep: user_leds_sleep {
	      pinctrl-single,pins = <
			BONE_P9_42B (PIN_INPUT_PULLDOWN | MUX_MODE7)	// mcasp0_aclkr.gpio3_18
		>;
	};
*/
	//edt_ft5306_ts_pins: pinmux_edt_ft5306_ts_pins
	P9_91_gpio_pd_pin: pinmux_P9_91_gpio_pd_pin {
	      pinctrl-single,pins = <
			BONE_P9_41B (PIN_OUTPUT_PULLUP | MUX_MODE7)	// mcasp0_axr1.gpio3_20
		>;
	};
	drv8825_stepper_pins: pinmux_drv8825_stepper_pins {
		pinctrl-single,pins = <
			0x54 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* gpmc_a5.gpio1_21, step x */
			0x58 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* gpmc_a6.gpio1_22, step y */ 
			0x5C (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* gpmc_a7.gpio1_23, step z */
			BONE_P9_12 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* gpmc_ben1.gpio1_28, step ext1 */
			0x60 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* gpmc_a8.gpio1_24, step ext2 */
			0x64 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* gpmc_a9.gpio1_25, step ext3 */ 
			0x6C (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* gpmc_a11.gpio1_27, step user */
			0X07 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* gpmc_a2.gpio1_18, step exp */
			0x88 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* gpmc_csn3.gpio2_0, dir x */
			BONE_P8_10 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* gpmc_gpmc_wen.gpio2_4, dir y */
			BONE_P8_08 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* gpmc_oen_ren.gpio2_3, dir z */
			BONE_P8_07 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* gpmc_advn_ale.gpio2_2, dir ext1 */
			BONE_P8_09 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* gpmc_ben0_cle.gpio2_5, dir ext2 */
			0x1E4 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* emu0.gpio3_7, dir ext3 */
			0x1E8 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)		/* emu1.gpio3_8, dir user */
			BONE_P9_41A (PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* xdma_event_intr1.gpio0_20, dir exp */
			BONE_P9_20 (PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* uart1_ctsn.gpio0_12, 12V-EN */
		>;
	};

/*
	lmsw_pins: pinmux_lmsw_pins {
		pinctrl-single,pins = <
			BONE_P8_18 (PIN_INPUT_PULLUP | MUX_MODE7)	// gpmc_clk.gpio2_1
			BONE_P9_23 (PIN_INPUT_PULLUP | MUX_MODE7)	// gpmc_a1.gpio1_17
			BONE_P9_13 (PIN_INPUT_PULLUP | MUX_MODE7)	// gpmc_wpn.gpio0_31
			BONE_P9_11 (PIN_INPUT_PULLUP | MUX_MODE7)	// gpmc_wait0.gpio0_30
			BONE_P8_26 (PIN_INPUT_PULLUP | MUX_MODE7)	// gpmc_csn0.gpio1_29
			BONE_P9_24 (PIN_INPUT_PULLUP | MUX_MODE7)	// uart1_txd.gpio0_15
		>;

	};
*/
};

&tps {
	ti,pmic-shutdown-controller;
};

&dcdc1_reg {
	regulator-name = "vdds_osc,vdds_pll_ddr,vdds_pll_mpu,vdds_pll_core_lcd,vdds_sram_mpu_bb,vdds_sram_core_bg,vdda_usb0_1p8v,vdds_ddr,vdds,vdds_vx_1p8v,vdda_adc,ddr2";
	regulator-min-microvolt = <100000>;
	regulator-max-microvolt = <1800000>;
	regulator-boot-on;
};

&dcdc2_reg {
	regulator-min-microvolt = <100000>;
	regulator-max-microvolt = <3300000>;
	regulator-ramp-delay = <70000>;
};

&dcdc3_reg {
	regulator-min-microvolt = <100000>;
	regulator-max-microvolt = <1500000>;
};

&ldo1_reg {
	regulator-name = "vdds_rtc";
	regulator-min-microvolt = <1000000>;
	regulator-max-microvolt = <3300000>;
	regulator-boot-on;
};

&ldo2_reg {
	regulator-name = "vdds_any_pn";
	regulator-min-microvolt = <100000>;
	regulator-max-microvolt = <3300000>;
	regulator-boot-on;
};

&ldo3_reg {
	regulator-name = "vdds_hvx_ldo3_3p3v,vdda_usb0_3p3v";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <3300000>;
	regulator-boot-on;
};

&ldo4_reg {
	regulator-name = "vdds_hvx_ldo4_3p3";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <3300000>;
	regulator-boot-on;
};

&ocp {

	P8_11_pinmux {
		status = "disabled";
	};
	P8_12_pinmux {
		status = "disabled";
	};
	P8_13_pinmux {
		status = "disabled";
	};
	P8_14_pinmux {
		status = "disabled";
	};
	P8_15_pinmux {
		status = "disabled";
	};
	P8_16_pinmux {
		status = "disabled";
	};
	P8_17_pinmux {
		status = "disabled";
	};
	P8_18_pinmux {
		status = "disabled";
		//mode = "gpio_pu";
	};
	P8_19_pinmux {
		status = "disabled";
	};
	P8_26_pinmux {
		mode = "gpio_pu";
	};
	P8_27_pinmux {
		status = "disabled";
	};
	P8_28_pinmux {
		status = "disabled";
	};
	P8_29_pinmux {
		status = "disabled";
	};
	P8_30_pinmux {
		status = "disabled";
	};
	P8_31_pinmux {
		status = "disabled";
	};
	P8_32_pinmux {
		status = "disabled";
	};
	P8_33_pinmux {
		status = "disabled";
	};
	P8_34_pinmux {
		status = "disabled";
	};
	P8_35_pinmux {
		status = "disabled";
	};
	P8_36_pinmux {
		status = "disabled";
	};
	P8_37_pinmux {
		status = "disabled";
	};
	P8_38_pinmux {
		status = "disabled";
	};
	P8_39_pinmux {
		status = "disabled";
	};
	P8_40_pinmux {
		status = "disabled";
	};
	P8_41_pinmux {
		status = "disabled";
	};
	P8_42_pinmux {
		status = "disabled";
	};
	P8_43_pinmux {
		status = "disabled";
	};
	P8_44_pinmux {
		status = "disabled";
	};
	P8_45_pinmux {
		status = "disabled";
	};
	P8_46_pinmux {
		status = "disabled";
	};
	P9_11_pinmux {
		mode = "gpio_pu";
	};
	P9_13_pinmux {
		status = "disabled";
		//mode = "gpio_pu";
	};
	P9_14_pinmux {
		status = "disabled";
	};
	P9_16_pinmux {
	//	mode = "pwm";
		status = "disabled";
	};
	P9_17_pinmux {
		status = "disabled";
		//mode = "spi";
	};
	P9_18_pinmux {
		status = "disabled";
		//mode = "spi";
	};
	P9_19_pinmux {
		status = "disabled";
		//mode = "i2c";
	};
	P9_20_pinmux {
		status = "disabled";//disabled
		//mode = "i2c";
	};
	P9_21_pinmux {
		status = "disabled";
		//mode = "pwm";
	};
	P9_22_pinmux {
		status = "disabled";
		//mode = "pwm";
	};
	P9_23_pinmux {
		mode = "gpio_pu";
	};
	P9_24_pinmux {
	status = "disabled";
//		mode = "gpio_pu";
	};
	P9_25_pinmux {
		status = "disabled";
		//mode = "gpio_pu";
	};
	P9_26_pinmux {
		status = "disabled";
	};
	P9_27_pinmux {
		status = "disabled";
		//mode = "gpio_pd";
	};
	P9_28_pinmux {
		status = "disabled";
	};
	P9_29_pinmux {
		status = "disabled";
	};
	P9_30_pinmux {
		status = "disabled";
	};
	P9_31_pinmux {
		status = "disabled";
	};
	P9_42_pinmux {
		status = "disabled";
	};
	P9_91_pinmux {
		//mode = "gpio_pd";
		status = "disabled";
	};
	P9_92_pinmux {
		status = "disabled";
//		mode = "gpio_pd";
	};

	cape-universal {
		/delete-node/ P8_18;
		/delete-node/ P9_11;
		/delete-node/ P9_14;
		/delete-node/ P9_15;

		/delete-node/ P9_16;
		/delete-node/ P9_17;
		/delete-node/ P9_18;
		/delete-node/ P9_19;
		/delete-node/ P9_20;
		/delete-node/ P9_21;
		/delete-node/ P9_22;
		/delete-node/ P9_23;
		/delete-node/ P9_24;
		/delete-node/ P9_25;
		/delete-node/ P9_26;
		/delete-node/ P9_27;
		/delete-node/ P9_91;
		/delete-node/ P9_92;
	};




/*
	epwmss0: epwmss@48300000 {
		status = "okay";
		ecap0: ecap@48300100 {
			status = "disabled";
			pinctrl-names = "default";
			pinctrl-0 = <&ecap0_default_pins>;
		};
	};
*/
	musb: usb@47400000 {
	      status = "okay";

	      control@44e10000 {
		      status = "okay";
	      };

	      usb-phy@47401300 {
		      status = "okay";
	      };

	      usb-phy@47401b00 {
		      status = "okay";
	      };

	      usb@47401000 {
		      status = "okay";
		      dr_mode = "otg";
	      };

	      usb@47401800 {
		      status = "okay";
		      dr_mode = "host";
	      };

	      dma-controller@07402000  {
		      status = "okay";
	      };
	};

};
&lcdc {
	compatible = "ti,am3352-lcdc", "ti,da830-lcdc";
	status = "okay";

	display-timings {
		1024x600 {
			clock-frequency = <51200000>;
			hactive = <1024>;
			vactive = <600>;
			hfront-porch = <160>;
			hback-porch = <140>;
			hsync-len = <20>;
			vback-porch = <22>;
			vfront-porch = <12>;
			vsync-len = <3>;
			hsync-active = <1>;
			vsync-active  = <1>;
			de-active = <1>;
			pixelclk-active = <0>;
		};
	};
};

/*
	lmsw: lmsw@0 {
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <>;//&lmsw_pins>;
		compatible = "platform:lmsw", "lmsw", "lmsw_min_x", "lmsw_min_y", "lmsw_min_y", "lmsw_max_x", "lmsw_max_y", "lmsw_max_z";
		min_x: lmsw_min_x@0 {
			gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>;
			level = <0>;
			value = <KEY_F1>;
			lmsw-name = "lmsw_min_x";
		};
		min_y: lmsw_min_y@1 {
			gpios = <&gpio1 17 GPIO_ACTIVE_HIGH>;
			level = <0>;
			value = <KEY_F2>;
			lmsw-name = "lmsw_min_y";
		};
		min_z: lmsw_min_z@2 {
			gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
			level = <0>;
			value = <KEY_F3>;
			lmsw-name = "lmsw_min_z";
		};
		max_x: lmsw_max_x@3 {
			gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
			level = <0>;
			value = <KEY_F4>;
			lmsw-name = "lmsw_max_x";
		};
		max_y: lmsw_max_y@4 {
			gpios = <&gpio1 29 GPIO_ACTIVE_HIGH>;
			level = <0>;
			value = <KEY_F5>;
			lmsw-name = "lmsw_max_y";
		};
		max_z: lmsw_max_z@5 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			level = <0>;
			value = <KEY_F6>;
			lmsw-name = "lmsw_max_z";
		};
	};

	onewire {
		compatible = "w1-gpio";
		gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
*/
/*
&spi0 {
	compatible = "spi-gpio";
	pinctrl-names = "default";
	pinctrl-0 = <>;//&bb_spi0_pins>;
	status = "okay";
	num-chipselects = <1>;
	ti,spi-num-cs = <1>;

	max6675: max6675_spi@0 {
		compatible = "max6675";
		reg = <0>;
		registers-number = <1>;
		spi-max-frequency = <2000000>;

		gpio-controller;

	};
};

&spi1 {
	compatible = "spi-gpio";
	pinctrl-names = "default";
	pinctrl-0 = <;
	status = "okay";
	num-chipselects = <2>;

	hc595: stepper_spi@0 {
		compatible = "fairchild,74hc595", "stepper_spi";
		reg = <0>;
		registers-number = <1>;
		spi-max-frequency = <2000000>;

		gpio-controller;

	};

	dac088: dac088_spi@0 {
		compatible = "dac088_regulator";
		gpio-controller;
		reg = <1>;
		registers-number = <2>;
		spi-max-frequency = <2000000>;
	};
};
*/
&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <>;//&i2c0_pins>;

	status = "okay";
	clock-frequency = <400000>;

	tps: tps@24 {
		reg = <0x24>;
	};

	baseboard_eeprom: baseboard_eeprom@50 {
		compatible = "at,24c256";
		reg = <0x57>;

		#address-cells = <1>;
		#size-cells = <1>;
		baseboard_data: baseboard_data@0 {
			reg = <0 0x100>;
		};
	};
/*
	tps65217_pwr_button: tps65217_pwr_button@24 {
		pinctrl-names = "default";
		pinctrl-0 = <&pwr_button_pins>;
		compatible = "ti,tps65217_pwr_but";
		interrupt-parent = <&tps>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
*/
};


&i2c1 {
status = "disabled";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <>;//&i2c2_pins>;

/*
        edt_ft5306: edt-ft5306@38 {
		status = "okay";
		compatible = "edt,edt-ft5336", "edt,edt-ft5306", "edt,edt-ft5x06";
		pinctrl-names = "default";
		pinctrl-0 = <>;//&edt_ft5306_ts_pins>;

                reg = <0x38>;
                interrupt-parent = <&gpio3>;
                interrupts = <19 IRQ_TYPE_EDGE_FALLING>;

		reset-gpios = <&gpio3 20 GPIO_ACTIVE_LOW>;
		wake-gpios = <&gpio3 21 GPIO_ACTIVE_LOW>;

		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
		touchscreen-swapped-x-y;
        };
*/
/*	pca9685_pwm: pca@7f {
		status = "okay";
		compatible = "nxp,pca9685-pwm";
		#pwm-cells = <2>;
		reg = <0x7f>;
	};
	ads1015: ads1015@48 {
		 compatible = "ti,ads1015";
		 status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		 reg = <0x49>;
		 channel@1 {
			 reg = <4>;
			 ti,gain = <2>;
			 ti,datarate = <4>;
		 };
		 channel@2 {
			 reg = <5>;
			 ti,gain = <2>;
			 ti,datarate = <4>;
		 };
		 channel@3 {
			 reg = <6>;
			 ti,gain = <2>;
			 ti,datarate = <4>;
		 };
		 channel@4 {
			 reg = <7>;
			 ti,gain = <2>;
			 ti,datarate = <4>;
		 };
	 };
*/
};


&wkup_m3 {
	ti,pm-firmware = "am335x-pm-firmware.elf";
};

&epwmss1 {
	status = "okay";
};

/*
&ehrpwm0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;//&ehrpwm0_pins>;
};

&ehrpwm1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&ehrpwm1b_pins>;
};

&timing0 {
	clock-frequency = <51200000>;
	hfront-porch = <160>;
	hback-porch = <140>;
	hsync-len = <20>;
	vback-porch = <22>;
	vfront-porch = <12>;
	vsync-len = <3>;
	hsync-active = <1>;
	vsync-active = <1>;
	de-active = <1>;
	pixelclk-active = <0>;
};
*/
&usb0 {
	dr_mode = "otg";
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_pins>;
	dma-names =
	"rx16", "rx17", "rx18", "rx19", "rx20", "rx21", "rx22",
	"rx23", "rx24", "rx25", "rx26", "rx27", "rx28",
	"rx29", "rx30",
	"tx16", "tx17", "tx18", "tx19", "tx20", "tx21", "tx22",
	"tx23", "tx24", "tx25", "tx26", "tx27", "tx28",
	"tx29", "tx30";
};

&usb1 {
	dr_mode = "host";
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&usb1_pins>;
	dma-names =
	"rx16", "rx17", "rx18", "rx19", "rx20", "rx21", "rx22",
	"rx23", "rx24", "rx25", "rx26", "rx27", "rx28",
	"rx29", "rx30",
	"tx16", "tx17", "tx18", "tx19", "tx20", "tx21", "tx22",
	"tx23", "tx24", "tx25", "tx26", "tx27", "tx28",
	"tx29", "tx30";
};

&mcasp0 {
	status = "disabled";
};

/*
&tscadc {
	status = "okay";
	tsc {
		ti,wires = <4>;
		ti,x-plate-resistance = <200>;
		ti,coordinate-readouts = <5>;
		ti,wire-config = <0x00 0x11 0x22 0x33>;
	};

	adc {
		ti,adc-channels = <0 1 2 3>;
	};
};
*/
/ {
	bone_capemgr {
               compatible = "ti,bone-capemgr";
               status = "okay";

               nvmem-cells = <&baseboard_data>;
               nvmem-cell-names = "baseboard";
               #slots = <0>;

		/* map board revisions to compatible definitions */
		baseboardmaps {
			baseboard_unicron: board@0 {
				board-name = "BBP1S";
				compatible-name = "ti,beaglebone-black";
				revision = "0A5A";
			};
		};
	};
/*
	backlight {
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&bb_lcd_pwm_backlight_pins>;
		compatible = "pwm-backlight";
		pwms = <&ehrpwm1 1 500000>;
		brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
		default-brightness-level = <10>;
	};
*/
/*	leds {
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&user_leds_default>;
		pinctrl-1 = <&user_leds_sleep>;

		compatible = "gpio-leds";

		led@1 {
			label = "unicron:blue:usr1";
			gpios = <&gpio3 18 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			default-state = "off";
		};
		/delete-node/ led@2;
		/delete-node/ led@3;
		/delete-node/ led@4;
		/delete-node/ led@5;
	};*/

/*
	panel {
		panel-info {
			ac-bias           = <255>;
			ac-bias-intrpt    = <0>;
			dma-burst-sz      = <16>;
			bpp               = <32>;
			fdd               = <0x80>;
			sync-edge         = <0>;
			sync-ctrl         = <1>;
			raster-order      = <0>;
			fifo-th           = <0>;
		};
		display-timings {
			native-mode = <&timing0>;
		};
	};
*/
};
