/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"
#include "am335x-bone-pinmux-emmc.dtsi"

#include "am335x-bone-common-universal.dtsi"
#include "am335x-bone-pinmux-i2c2.dtsi"
#include "am335x-bone-pinmux-can0.dtsi"
#include "am335x-bone-pinmux-spi0.dtsi"
#include "am33xx-overlay-edma-fix.dtsi"
#include <dt-bindings/board/am335x-bbw-bbb-base.h>
#include <dt-bindings/pinctrl/am33xx.h>
/* #include "am335x-bone-jtag.dtsi" */

/ {
	model = "TI AM335x BBP";
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx", "ti-omap3-beagle";

	cpus {
		cpu@0 {
			cpu0-supply = <&dcdc2_reg>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512 MB */
	};

};

&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
	cd-gpios = <&gpio1 6 0>; /* gpio1 is misnamed, 0 == GPIO_ACTIVE_HIGH */
	cd-inverted;
	status = "okay";
	ti,vcc-aux-disable-is-sleep;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
	ti,non-removable;
};

&cpu0_opp_table {
	/*
	 * All PG 2.0 silicon may not support 1GHz but some of the early
	 * BeagleBone Blacks have PG 2.0 silicon which is guaranteed
	 * to support 1GHz OPP so enable it for PG 2.0 on this board.
	 */
	oppnitro@1000000000 {
		opp-supported-hw = <0x06 0x0100>;
	};
};

&am33xx_pinmux {
	spi0_pins_s0: spi0_pins_s0 {
		pinctrl-single,pins = <
			BONE_P9_22 0x20	/* spi0_sclk.spi0_sclk, OMAP_MUX_MODE0 | AM33XX_PULL_ENBL | AM33XX_INPUT_EN */
			BONE_P9_21 0x30	/* spi0_d0.spi0_d0, OMAP_MUX_MODE0 | AM33XX_PULL_ENBL | AM33XX_PULL_UP | AM33XX_INPUT_EN */
			BONE_P9_18 0x20	/* spi0_d1.spi0_d1, OMAP_MUX_MODE0 | AM33XX_PULL_ENBL | AM33XX_INPUT_EN */
			BONE_P9_17 0x30	/* spi0_cs0.spi0_cs0, OMAP_MUX_MODE0 | AM33XX_PULL_ENBL | AM33XX_PULL_UP | AM33XX_INPUT_EN */
			>;
		      };
	spi1_pins_s0: spi1_pins_s0 {
		pinctrl-single,pins = <
			/* P9_31: mcasp0_aclkx.spi1_sclk */
			BONE_P9_31 0x3 /* OMAP_MUX_MODE3 | AM33XX_PIN_OUTPUT */
			/* P9_29: mcasp0_fsx.spi1_d0 */
			BONE_P9_29 0x23 /* OMAP_MUX_MODE3 | AM33XX_INPUT_EN */
			/* P9_30: mcasp0_axr0.spi1_d1 */
			BONE_P9_30 0x3 /* OMAP_MUX_MODE3 | AM33XX_PIN_OUTPUT */

			/* P9_28: mcasp0_ahclkr.spi1_cs0 */
			BONE_P9_28 0x13 /* OMAP_MUX_MODE3 | AM33XX_PULL_UP | AM33XX_PIN_OUT */

			/* P9_19: uart1_rtsn.spi1_cs1 */
			BONE_P9_19 0x4 /* OMAP_MUX_MODE4 | AM33XX_PIN_OUTPUT */
			>;
		      };
	userled_pins: pinmux_userled_pins {
		pinctrl-single,pins = <
			0x54 0x7	/* gpmc_a5.gpio1_21, OUTPUT | MODE7 */
			0x58 0x17	/* gpmc_a6.gpio1_22, OUTPUT_PULLUP | MODE7 */
			0x5c 0x7	/* gpmc_a7.gpio1_23, OUTPUT | MODE7 */
			0x60 0x17	/* gpmc_a8.gpio1_24, OUTPUT_PULLUP | MODE7 */
		>;
	      };
	i2c0_pins: pinmux_i2c0_pins {
		   pinctrl-single,pins = <
                        AM33XX_IOPAD(0x988, PIN_INPUT_PULLUP | MUX_MODE0)       /* i2c0_sda.i2c0_sda */
                        AM33XX_IOPAD(0x98c, PIN_INPUT_PULLUP | MUX_MODE0)       /* i2c0_scl.i2c0_scl */

//			   0x188 0x70 	/* i2c0_sda, SLEWCTRL_SLOW | INPUT_PULLUP | MODE0 */
//			   0x18c 0x70	/* i2c0_scl, SLEWCTRL_SLOW | INPUT_PULLUP | MODE0 */
		>;
	   };
//	P9_20_i2c_pin: pinmux_P9_20_i2c_pin {
//		pinctrl-single,pins = <0x178  0x73>; };     /* (SLEWCTRL_SLOW | PIN_INPUT_PULLUP | MUX_MODE3) */

	i2c2_pins: pinmux_i2c2_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x978, SLEWCTRL_SLOW | INPUT_EN | MUX_MODE3)	/* uart1_ctsn.i2c2_sda */
			AM33XX_IOPAD(0x97c, SLEWCTRL_SLOW | INPUT_EN | MUX_MODE3)	/* uart1_rtsn.i2c2_scl */
		>;
	};
	mmc0_pins: pinmux_mmc0_pins {
		   pinctrl-single,pins = <
			   0x0F0 (PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat3.mmc0_dat3 */
			   0x0F4 (PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat2.mmc0_dat2 */
			   0x0F8 (PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat1.mmc0_dat1 */
			   0x0FC (PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_dat0.mmc0_dat0 */
			   0x100 (PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_clk.mmc0_clk */
			   0x104 (PIN_INPUT_PULLUP | MUX_MODE0)	/* mmc0_cmd.mmc0_cmd */
			   0x1A0 (PIN_INPUT_PULLUP | MUX_MODE7)	/* mcasp0_aclkr.gpio3_18 */
			   0x160 (PIN_INPUT | MUX_MODE7)	/* spi0_cs1.gpio0_6 */
		>;
	};
	mcasp0_pins: mcasp0_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(0x9ac, PIN_INPUT_PULLUP | MUX_MODE0) /* mcasp0_ahcklx.mcasp0_ahclkx */
			AM33XX_IOPAD(0x99c, PIN_OUTPUT_PULLDOWN | MUX_MODE2) /* mcasp0_ahclkr.mcasp0_axr2*/
			AM33XX_IOPAD(0x994, PIN_OUTPUT_PULLUP | MUX_MODE0) /* mcasp0_fsx.mcasp0_fsx */
			AM33XX_IOPAD(0x990, PIN_OUTPUT_PULLDOWN | MUX_MODE0) /* mcasp0_aclkx.mcasp0_aclkx */
			AM33XX_IOPAD(0x86c, PIN_OUTPUT_PULLDOWN | MUX_MODE7) /* gpmc_a11.GPIO1_27 */
		>;
	};

//	ft5x06_ts_pins: pinmux_ft5x06_ts_pins {
//		pinctrl-single,pins = <
//			/* CAP_TSC gpmc_a1.gpio1_17, INPUT | MODE7 */
//			BONE_P9_23 (PIN_INPUT_PULLDOWN | MUX_MODE7)
//		>;
//	};
};

&tps {
	compatible = "ti,tps65217";
	ti,pmic-shutdown-controller;

	regulators {
		dcdc1_reg: regulator@0 {
			regulator-name = "vdds_osc,vdds_pll_ddr,vdds_pll_mpu,vdds_pll_core_lcd,vdds_sram_mpu_bb,vdds_sram_core_bg,vdda_usb0_1p8v,vdds_ddr,vdds,vdds_vx_1p8v,vdda_adc,ddr2";
			regulator-min-microvolt = <100000>;
			regulator-max-microvolt = <1800000>;
			regulator-boot-on;
			regulator-always-on;
		};

		dcdc2_reg: regulator@1 {
			regulator-name = "vdd_mpu";
			regulator-min-microvolt = <100000>;
			regulator-max-microvolt = <3300000>;
			regulator-ramp-delay = <70000>;
			regulator-boot-on;
			regulator-always-on;
		};

		dcdc3_reg: regulator@2 {
			regulator-name = "vdd_core";
			regulator-min-microvolt = <100000>;
			regulator-max-microvolt = <1500000>;
			regulator-boot-on;
			regulator-always-on;
		};

		ldo1_reg: regulator@3 {
			regulator-name = "vdds_rtc";
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			regulator-always-on;
		};

		ldo2_reg: regulator@4 {
			regulator-name = "vdds_any_pn";
			regulator-min-microvolt = <100000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			regulator-always-on;
		};

		ldo3_reg: regulator@5 {
			regulator-name = "vdds_hvx_ldo3_3p3v,vdda_usb0_3p3v";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			regulator-always-on;
		};

		ldo4_reg: regulator@6 {
			regulator-name = "vdds_hvx_ldo4_3p3";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			regulator-always-on;
		};
	};
};

&baseboard_eeprom {
	reg = <0x57>;
};


&ocp {
P9_19_pinmux {
	status = "disabled";
};
	P9_20_pinmux {
		status = "disabled";
	};
};

/* &dcan0 {
 	pinctrl-0 = <>;
 };
*/
&i2c2 {
        ft5x06_ts: ft5x06_ts@38 {
                compatible = "ft5x06_ts";
                reg = <0x38>;
                interrupt-parent = <&gpio3>;
                interrupts = <19>;
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
        };
	pca9685_pwm: pca9685-pwm@7f {
		compatible = "pca9685-pwm";
		reg = <0x7f>;
	};
};

&mcasp0	{
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&mcasp0_pins>;
	status = "okay";
	op-mode = <0>;	/* MCASP_IIS_MODE */
	tdm-slots = <2>;
	serial-dir = <	/* 0: INACTIVE, 1: TX, 2: RX */
			0 0 1 0
		>;
	tx-num-evt = <32>;
	rx-num-evt = <32>;
};

&wkup_m3 {
	ti,pm-firmware = "am335x-pm-firmware.bin";
};

/ {
	clk_mcasp0_fixed: clk_mcasp0_fixed {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <24576000>;
	};

	clk_mcasp0: clk_mcasp0 {
		#clock-cells = <0>;
		compatible = "gpio-gate-clock";
		clocks = <&clk_mcasp0_fixed>;
		enable-gpios = <&gpio1 27 0>; /* BeagleBone Black Clk enable on GPIO1_27 */
	};
};
